<div id="<%= dom_id makeup %>">
  <p>
    <strong>Name:</strong>
    <%= makeup.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= makeup.rating %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= makeup.colour %>
  </p>

</div>
